[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bReeze"]
	path = bReeze
	url = https://github.com/chgrl/breeze
[submodule "diezeit"]
	path = diezeit
	url = https://github.com/chgrl/diezeit
[submodule "rdnb"]
	path = rdnb
	url = https://github.com/chgrl/rdnb
